<app-header #myChild></app-header>
<!-- <div *ngIf="isLoader == 'true'" class="text-center">
    <i nz-icon [nzType]="'loading'"></i>
    <p style='font-size: 18px; font-weight: 900; color:#000000'>
        Wait until the product gets uploaded
    </p>
</div> -->
<div class="main-container col3-layout main-wrapper">
    <div class="container">
        <h1 class="text-caplitalize text-center">{{ (sub_cat_id | titlecase) | translate }}</h1>
        <div nz-row nzGutter="16" nzAlign="middle" class="search-filter">
            <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="6" nzXl="4">
                <nz-form-item class="d-block">
                    <nz-form-label [nzNoColon]="'true'" nzFor="email" class="d-block">{{"Category"|translate}}
                    </nz-form-label>
                    <nz-select [(ngModel)]="categoryValue" (ngModelChange)="productByCategory(categoryValue,cattype);getCatname(categoryValue)" [ngModelOptions]="{standalone: true}" [nzShowSearch]="true">
                        <nz-option nzValue="All" nzLabel="{{'All'|translate}}">
                        </nz-option>
                        <nz-option *ngFor="let cate of categoryList" nzValue="{{ cate._id }}" nzLabel="{{ cate.name }}">
                        </nz-option>
                    </nz-select>
                </nz-form-item>
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="14" nzLg="12" nzXl="10">
                <div nz-row nzGutter="16" nzAlign="bottom">
                    <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
                        <nz-form-item>
                            <nz-form-label [nzNoColon]="'true'" nzFor="email" class="d-block">{{"Min"|translate}}
                            </nz-form-label>
                            <nz-input-group nzSuffix="€">
                                <input type="number" nz-input pattern="\d*" placeholder="{{'Min'|translate}}" [(ngModel)]="minrange" (ngModelChange)="minRange()" />
                            </nz-input-group>
                        </nz-form-item>
                    </div>
                    <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
                        <nz-form-item>
                            <nz-form-label [nzNoColon]="'true'" nzFor="email" class="d-block">{{"Max"|translate}}
                            </nz-form-label>
                            <nz-input-group nzSuffix="€">
                                <input type="number" id="min" nz-input placeholder="5000" pattern="\d*" [(ngModel)]="maxrange" (ngModelChange)="maxRange()"/>
                            </nz-input-group>
                        </nz-form-item>
                    </div>
                    <div nz-col nzXs="24" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
                        <nz-form-item>
                            <button nzType="primary" nzBlock nz-button (click)="sort(categoryValue,searchValue,type,null,null,sub_type,minrange,maxrange)"><span>{{"sort" | translate}}</span>
                            </button>
                            <!-- <button nzType="primary" nzBlock nz-button *ngIf="isSort"
                                (click)="clearSort()"><span>{{"ClearSort"|translate}}</span>
                            </button> -->
                        </nz-form-item>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div>
    </div> -->
    <div class="container">
        <div nz-row nzGutter="32">
            <div nz-col nzSpan="24" *ngIf="isLoader" class="text-center py-5">
                <i nz-icon [nzType]="'loading'"></i>
            </div>
            <div nz-col nzSpan="24" *ngIf="listOfData.length <= 0 && !isLoader" class="text-center py-5">
                {{"NoItemFound"|translate}}
            </div>
            <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6" *ngFor="let data of sampleitem; let i = index ">
                <div class="custom-product-list">
                    <div class="category-products pro-list">
                        <ol class="products-list mb-0">
                            <li class="item d-flex w-100">
                                <div class="inner d-flex flex-wrap w-100">
                                    <div class="item-image">
                                        <div class="item-image-inner">
                                            <a class="product-image user-select-none" *ngIf="isloggedin == 'true'">
                                                <img [src]="url+data?.file[0].path" *ngIf="data?.file.length > 0"
                                                    routerLink="/product/{{data._id}}" alt="">
                                                <img src="../../../assets//images//notavailable.jpg"
                                                    *ngIf="!data?.file.length > 0" routerLink="/product/{{data._id}}"
                                                    alt="">
                                            </a>
                                            <a class="product-image user-select-none" *ngIf="isloggedin != 'true'">
                                                <img [src]="url+data?.file[0].path" *ngIf="data?.file.length > 0"
                                                    routerLink="/productview/{{data?._id}}" alt="">
                                                <img src="../../../assets//images//notavailable.jpg"
                                                    *ngIf="!data?.file?.length > 0" routerLink="/productview/{{data?._id}}"
                                                    alt="">
                                            </a>
                                        </div>
                                        <div class="product-whislist-add" *ngIf="isloggedin == 'true'">
                                            <button nz-button nzType="default" nzShape="circle" class="wishlist-btn" (click)="addWish(data,i)" *ngIf="data.iswishlisted == false">
                                                <i nz-icon nzType="heart" nzTheme="outline"></i>
                                            </button>
                                            <button nz-button nzType="default" nzShape="circle" class="wishlist-btn" (click)="removeWish(data,i)" *ngIf="data?.iswishlisted == true">
                                                <i nz-icon nzType="heart" nzTheme="fill" class="icon-filled"
                                                    *ngIf="data?.iswishlisted == true"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="product-info ml-0">
                                        <div class="product-item-block">
                                            <div class="d-flex flex-wrap">
                                                <div class="prdouct-details-info user-select-none flex-wrap">
                                                    <div class="product-name">
                                                        <a class="product-info-name height-auto mb-1" *ngIf="isloggedin == 'true'" routerLink="/product/{{data?._id}}">{{ data.name }}</a>
                                                        <a class="product-info-name height-auto mb-1" *ngIf="isloggedin != 'true'" routerLink="/productview/{{data?._id}}">{{ data.name }}</a>
                                                    </div>
                                                    <p class="mb-1" *ngIf="data?.stock_available == true && data?.stock_count[data?.price_id] < 10" style="color: red">{{"HurryUp"|translate}} {{"Left"|translate}} {{data?.stock_count[data.price_id]}}
                                                    </p>
                                                    <div class="wrap-ns-price">
                                                        <div class="price-box">
                                                            <p class="special-price">
                                                                <span class="price">{{ data?.available_price[0]|number:'1.1-2'}}€</span>
                                                                <del *ngIf="data?.offer_percentage > 0">{{data?.price[0] | number:'1.1-2'}}€</del>
                                                            </p>
                                                        </div>
                                                        <div class="wrap-new-sale" *ngIf="data?.offer_percentage > 0">
                                                            <div class="offer-percentange">
                                                                {{data?.offer_percentage}}% {{"off"|translate}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="position-relative product-add-cart justify-content-start">
                                                    <div class="box-qty-btncart">
                                                        <div class="mb-3">
                                                            <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" [nzAddOnAfter]="addOnAfterTemplate">
                                                                <input type="text" disabled="disabled" class="text-center focus" nz-input [(ngModel)]="data.productcount" />
                                                            </nz-input-group>
                                                            <ng-template #addOnBeforeTemplate>
                                                                <i nz-icon nzType="minus" nzTheme="outline" class="cursor-pointer" (click)="Removecount(i)"></i>
                                                            </ng-template>
                                                            <ng-template #addOnAfterTemplate>
                                                                <i nz-icon nzType="plus" nzTheme="outline" class="cursor-pointer" (click)="Addcount(i)" [ngClass]="{'a_disabled':data?.stock_count[0] < data?.productcount + 1 && AddProduct == true}"></i>
                                                            </ng-template>
                                                        </div>
                                                        <button nzType="primary" nz-button nzBlock *ngIf="data?.stock_available == true" (click)="addCart(data,i)"><span>{{"AddtoCart"|translate}}</span>
                                                        </button>
                                                        <button nzType="primary" nzBlock *ngIf="data?.stock_available == false" nz-button disabled><span>{{"OutofStock"|translate}}</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- <nz-pagination [(nzPageIndex)]="index" [(nzPageSize)]="size" [nzTotal]="listOfData.length"
            (nzPageIndexChange)="eventchange(index,size)"></nz-pagination> -->
        <button *ngIf="sampleitem.length > 0" nzType="primary" nz-button (click)="productPrevious()" style="margin-right: 2%;" [disabled]="product_array.length <= 12">
                <i nz-icon nzType="arrow-left" nzTheme="outline"></i>{{"previous" | translate}}
            </button>
        <button *ngIf="sampleitem.length > 0" [disabled]="product_count <=12 || product_array.length == product_count" nzType="primary" nz-button (click)="productListbyLimit(categoryValue,searchValue,type,sampleitem[sampleitem.length-1]._id,12,sub_type,minrange,maxrange)">
                <i nz-icon nzType="arrow-right" nzTheme="outline"></i>{{"next" | translate}}
            </button>
    </div>
</div>
<app-landing-footer></app-landing-footer>

